@use 'functions';
@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// RESETS:

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

// Custom properties:

// light mode
$primary-color-l: v.$black;
$secondary-color-l: v.$green-der;
$error-color-l: v.$orange-d;

$primary-bg-color-l: v.$white;
$secondary-bg-color-l: v.$green-ler;

// dark mode
$primary-color-d: v.$white;
$secondary-color-d: v.$green-l;
$error-color-d: v.$orange-l;

$primary-bg-color-d: v.$black;
$secondary-bg-color-d: v.$green-der;

main,
main * {
  --primary-color: #{$primary-color-l};
  --secondary-color: #{$secondary-color-l};
  --error-color: #{$error-color-l};

  --primary-bg-color: #{$primary-bg-color-l};
  --secondary-bg-color: #{$secondary-bg-color-l};

  --primary-brdr-color: #{$primary-color-l};
  --secondary-brdr-color: #{$secondary-color-l};
}

main.dark,
main.dark * {
  --primary-color: #{$primary-color-d};
  --secondary-color: #{$secondary-color-d};
  --error-color: #{$error-color-d};

  --primary-bg-color: #{$primary-bg-color-d};
  --secondary-bg-color: #{$secondary-bg-color-d};

  --primary-brdr-color: #{$primary-color-d};
  --secondary-brdr-color: #{$secondary-color-d};
}

* {
  font-family: 'Outfit';
}

main {
  background-color: var(--primary-bg-color);

  transition: background-color 0.7s ease-in-out;
}

main * {
  color: var(--primary-color);

  transition:
    background-color 0.7s ease-in-out,
    stroke 0.7s ease-in-out;
}

main .error-message {
  color: var(--error-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* Fallback for older browsers */
  clip-path: inset(50%); /* Modern alternative */
  white-space: nowrap;
  border: 0;
}

main {
  min-height: 100svh;

  @include f.responsive-grid(v.$spacing-0500, v.$spacing-0000, 1, f.rem(1000));
}

header {
  min-width: 100%;

  grid-column: 1/-1;
}

.content {
  grid-column: 2/-2;
}
