@use 'functions' as f;

// VARIABLES
// / Colors:
// // Neutrals:
$white: 131, 52%, 96%;
$black: 160, 60%, 4%;

// /// Orange:
$orange-d: 9, 100%, 44%;
$orange-m: 9, 100%, 52%;
$orange-l: 9, 100%, 64%;

// // Green:
$green-ler: 140, 44%, 88%;
$green-l: 147, 43%, 71%;
$green-m: 152, 41%, 52%;
$green-d: 153, 40%, 30%;
$green-der: 156, 43%, 16%;

// TYPOGRAPHY

// / Font 1: Kumbh Sans:
$font-family: 'Times New Roman';

$font-1: (
  font-size: f.rem(24),
  font-weight: 700,
  line-height: 1.2,
  letter-spacing: em(0),
);

$font-2-b: (
  font-size: f.rem(16),
  font-weight: 700,
  line-height: 1.5,
  letter-spacing: em(0),
);

$font-2-m: (
  font-size: f.rem(16),
  font-weight: 500,
  line-height: 1.5,
  letter-spacing: em(0),
);

$font-2-r: (
  font-size: f.rem(16),
  font-weight: 400,
  line-height: 1.5,
  letter-spacing: em(0),
);

$font-3: (
  font-size: f.rem(13),
  font-weight: 500,
  line-height: 1.2,
  letter-spacing: em(0),
);

// Spacing:

$spacing-0000: f.em(0);
$spacing-0100: f.em(8);
$spacing-0200: f.em(16);
$spacing-0300: f.em(24);
$spacing-0400: f.em(32);
$spacing-0500: f.em(40);
